<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/data/elasticsearch http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<import resource="spring-props.xml" />
	<context:annotation-config />
	<context:component-scan base-package="com.github.treasure.m2e.service" />



	<elasticsearch:repositories base-package="com.lashou.treasure.es.repository" />

	<elasticsearch:transport-client id="client"
		cluster-nodes="${cluster.nodes}" cluster-name="${cluster.name}" />


	<bean name="elasticsearchTemplate"
		class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client" />
	</bean>

	<import resource="classpath:com/lashou/treasure/treasure-es.xml" />
</beans>
